
<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Button | Red Hat Design System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177008280-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-177008280-1');
  </script>
  <script src="/red-hat-design-system-site/js/global.js"></script>

  <link rel="stylesheet" href="https://static.redhat.com/libs/redhat/redhat-theme/4/advanced-theme.css">
  <link rel="stylesheet" href="/red-hat-design-system-site/css/styles.css">
  <link rel="stylesheet" rel="stylesheet" href="//static.redhat.com/libs/redhat/redhat-font/2/webfonts/red-hat-font.css" media="all" />
  <link rel="stylesheet" href="https://static.redhat.com/libs/redhat/redhat-theme/4/advanced-theme.css">
  
  <link rel="stylesheet" href="/red-hat-design-system-site/node_modules/@patternfly/pfelement/dist/pfelement.min.css">
  <noscript>
    <link type="text/css" href="/red-hat-design-system-site/node_modules/@patternfly/pfelement/dist/pfelement--noscript.min.css">
  </noscript>

  <script type="module" src="/red-hat-design-system-site/node_modules/@patternfly/pfe-cta/dist/pfe-cta.min.js"></script>
</head>




  


<body class="page page--button" id="top" unresolved>
  <div class="body-inner">

    



<script type="text/javascript">
(function() { var s = document.createElement("script"); s.type = "text/javascript"; s.async = true; s.src = '//api.usersnap.com/load/4a8eca9f-e612-466c-ba21-5c98236daf99.js';
var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); })();
</script>

<header class="l-header">
  <div class="l-header__logo-bar">
    <img class="l-header__logo" src="https://static.redhat.com/libs/redhat/brand-assets/2/corp/logo--hat-only.svg" alt="Red Hat" style="max-width:50px" />
  </div>
  <input id="mobile-menu-toggle" class="menu-toggle element-invisible" type="checkbox" aria-controls="mobile-menu-menu-container">
  <label class="menu-toggle__button" for="mobile-menu-toggle" data-controls="mobile-menu-menu-container">
    Menu
    <span class="menu-toggle-assistive-text element-invisible">, Toggle visibility</span>
  </label>
  <div class="menu-toggle__toggleable">
    <nav class="l-header__site-navigation site-navigation menu-toggle__toggleable-content-wrapper">
      <ul class="site-navigation__wrapper">
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/red-hat-design-system-site/">
    Home
  </a>

        </li>
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/red-hat-design-system-site/about/">
    About this website
  </a>

        </li>
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/red-hat-design-system-site/design-code-status/">
    Design/code status
  </a>

        </li>
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/red-hat-design-system-site/release-notes/">
    Release notes
  </a>

        </li>
        <li class="site-navigation__item">
          
          
            
          
          <details  open>
            <summary class="site-navigation__heading">Components</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components">
    All components
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/accordion/">
    Accordion
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/alert/">
    Alert
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/announcement-banner/">
    Announcement banner
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/audio-player/">
    Audio player
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/blockquote/">
    Blockquote
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
    
  
  <a class="site-navigation__sub-menu__link site-navigation__sub-menu__link--active" href="/red-hat-design-system-site/components/button/">
    Button
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/cta/">
    Call to action
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/card/">
    Card
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/cookie-banner/">
    Cookie banner
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/avatar/">
    Default avatar
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/disclosure/">
    Disclosure
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/filter/">
    Filter
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/footer_group/">
    Footer group
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/form/">
    Form
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/jump-links-vertical/">
    Jump links
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/link-with-icon 2/">
    Link with icon
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/link-with-icon/">
    Link with icon
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/modal/">
    Modal
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/navigation/">
    Navigation
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/promo-banner/">
    Promo banner
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/search_bar/">
    Search bar
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/skip-to-main 2/">
    Skip to main
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/skip-to-main/">
    Skip to main
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/sticky-banner/">
    Sticky banner
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/sticky-card/">
    Sticky card
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/tabs/">
    Tabs
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/tooltip/">
    Tooltip
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/video-thumbnail/">
    Video thumbnail
  </a>

                </li></ul>
          </details>
        </li>

        <li class="site-navigation__item">
          
          
          <details >
            <summary class="site-navigation__heading">Foundations</summary>
            <ul class="site-navigation__sub-menu"><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/foundations/color/">
    Color
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/foundations/typography/">
    Typography
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/foundations/grid/">
    Grid
  </a>

                </li></ul>
          </details>
        </li>
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/red-hat-design-system-site/get-started/">
    Get started
  </a>

        </li>

      </ul>
    </nav>
  </div>
</header>


<main class="l-main">
  <article class="l-main__inner">
    <header class="l-main__header l-main__header--palette-lighter">
      <div class="container header">
        <h1 class="page-title">Button</h1>
      </div>
    </header>
    <div class="l-main__content">
      <div class="container">
        



  <section class="section section--palette-default container">
    <h2 class="section-title">Overview</h2>
    <p>Buttons allow users to perform an action when triggered. They feature a text label, a background or a border, and icons.</p>
  </section>



  <section class="section section--palette-default container">
    <h2 class="section-title">Sample component</h2>
    <div class="margin-top--4 margin-bottom--4">
  <img src="/red-hat-design-system-site/assets/button/buttons.png" alt="Examples of buttons" style="--inline-img-max-width: 704px;">
</div>
  </section>



  <section class="section section--palette-default container">
    <h2 class="section-title">Component status</h2>
    <rhds-component-status component="Button"></rhds-component-status>
  </section>






  <section class="section section--palette-default container">
    <h2 class="section-title">Style</h2>
    <p>Buttons can be used in light and dark themes. There are a variety of styles to choose from depending on what users need to accomplish.</p>
  <!-- Anatomy image with sketch -->


  <div class="example example--palette-light">
    
    
<div class="inline-flex centered margin-top--4 margin-bottom--4">
  <img src="/red-hat-design-system-site/assets/button/button-style.png" alt="Naming button parts" style="--example-img-max-width: 371px;">
</div>
  </div>



<h2>Theme</h2>


  <div class="example example--palette-light">
    
    
<div class="inline-flex centered margin-top--4 margin-bottom--4">
  <img src="/red-hat-design-system-site/assets/button/button-theme-light.png" alt="Themes of buttons" style="--example-img-max-width: 680px;">
</div>
  </div>



  <div class="example example--palette-darkest">
    
    
  <div class="inline-flex centered margin-top--4 margin-bottom--4">
    <img src="/red-hat-design-system-site/assets/button/button-theme-dark.png" alt="Themes of buttons" style="--example-img-max-width: 680px;">
  </div>
  </div>


<div class="multi-column--min-400-wide">
    <div>
        <h4>Danger</h4>
        <p>Use for actions that are difficult or impossible to undo, like Delete. This style has the same hierarchy as the Primary style due to its destructive nature. Don’t use this style multiple times in the same area.</p>
    </div>

    <div>
        <h4>Danger, secondary</h4>
        <p>Use for less destructive actions, like Cancel. This style is lower in hierarchy than the Danger style and it should be placed on its right side. Don’t use this style multiple times in the same area unless necessary.</p>
    </div>

    <div>
        <h4>Danger, link</h4>
        <p>Use for secondary or general links. This style is lower in hierarchy than the Primary style and it can be used multiple times in the same area.</p>
    </div>

    <div>

    </div>

    <div>
        <h4>Primary</h4>
        <p>Use to group a list of links together in a grid. Only Brick styles can stretch to fit a container or a grid, otherwise the label padding stays the same in all other styles.</p>
    </div>

    <div>
        <h4>Secondary</h4>
        <p>Use to group a list of links with icons together in a grid. Only Brick styles can stretch to fit a container or a grid, otherwise the label padding stays the same in all other styles.</p>
    </div>

    <div>
        <h4>Tertiary</h4>
        <p>Use for tertiary or the least important links. This style is the lowest in hierarchy and it can be used multiple times in the same area.</p>
    </div>
    <div>
        <h4>Search</h4>
        <p>Use to trigger a less important video that will play in a modal. This style is the lowest in hierarchy and it can be used multiple times in the same area.</p>
    </div>
    <div>
        <h4>Disabled</h4>
        <p>Most styles will appear disabled if a task needs to be completed first. Don’t use multiple times in the same area unless necessary.</p>
    </div>

    <div>
        <h4>Link</h4>
        <p>Use for less important actions or group it to the right of other styles. This style has an invisible background and no border. It can be used multiple times in the same area.</p>
    </div>

    <div>
        <h4>Play</h4>
        <p>Use to trigger a video that will play in a Modal. Don’t use this style without a thumbnail image underneath or use a Default, video call to action instead.</p>
    </div>
    <div>
        <h4>Close</h4>
        <p>Use to close something, like an Alert. Don’t use this style multiple times in the same area.</p>
    </div>
</div>
  </section>


<hr class="margin-top--10 margin-bottom--10">


  <section class="section section--palette-default container">
    <h2 class="section-title">Usage</h2>
    <p>A button is used to perform an action, like Submit or Delete, depending on the style. For example, use the Primary style to submit a form or the Danger style to delete something.</p>

  <h3>Action vs. navigation</h3>

  <p>Use a button only to perform an action and use a Call to action as a navigational element, like a link.</p>

  <h3>Text labels</h3>

  <p>Button text labels are written differently than call to action text labels. Button text labels should be short and clearly describe what the action is when triggered, like Download if a user wants to download something.</p>

  
  <div class="example example--palette-light">
    
    
  <div class="inline-flex centered margin-top--4 margin-bottom--4">
    <img src="/red-hat-design-system-site/assets/button/button-text-labels.png" alt="Button text labels" style="--example-img-max-width: 462px;">
  </div>
  </div>


  <h3>Disabled state</h3>

  <p>Most styles will appear disabled if an action is unavailable or if a task needs to be completed first.</p>

  
  <div class="example example--palette-light">
    
    
  <div class="inline-flex centered margin-top--4 margin-bottom--4">
    <img src="/red-hat-design-system-site/assets/button/button-disabled.png" alt="Button disabled" style="--example-img-max-width: 417px;">
  </div>
  </div>


  <h3>Hierarchy</h3>

  <p>Buttons are ordered by hierarchy from left to right or sometimes top to bottom. Some styles can be used multiple times in the same area except for the Danger, Primary, Search, Play, and Close styles.</p>

  
  <div class="example example--palette-light">
    
    


  <!--<div class="multi-column--3-2 centered margin-top--4 margin-bottom--4">
    <div class="example--descriptor">
        
      
      <img src="http://www.placehold.it/130x56" />
      <strong>Danger</strong><br>
          High emphasis
    </div>
    <div class="example--descriptor">
      
      
      <img src="http://www.placehold.it/130x56" />
      <strong>Primary</strong><br>
          High emphasis
    </div>
    <div class="example--descriptor">
      
      
      <img src="http://www.placehold.it/130x56" />
      <strong>Secondary</strong><br>
          Medium emphasis
    </div>
    <div class="example--descriptor">
      
      <img src="http://www.placehold.it/130x56" />
      
      <strong>Tertiary</strong><br>
          Low emphasis
    </div>
    <div class="example--descriptor">
      
      <img src="http://www.placehold.it/130x56" />
      
      <strong>Link</strong><br>
          Lowest emphasis
    </div>
  </div>-->
    <div class="inline-flex centered margin-top--4 margin-bottom--4">
      <img src="/red-hat-design-system-site/assets/button/button-hierarchy.png" alt="Button hierarchy" style="--example-img-max-width: 815px;">
    </div>
  </div>


<h3>Grouping</h3>
<p>Buttons can be grouped together by hierarchy from left to right or from top to bottom.</p>Buttons can be used in modals. The Link style can be used to the right of the Primary style to create greater visual hierarchy in between the two buttons.</p>

<div class="multi-column--min-400-wide margin-top--1 margin-bottom--1">
  
  <div class="example example--palette-light">
    
    
      <div class="inline-flex centered margin-top--4 margin-bottom--4">
        <img src="/red-hat-design-system-site/assets/button/button-grouping-1.png" alt="Button grouping" style="--example-img-max-width: 255px;">
      </div>
  </div>


    
  <div class="example example--palette-light">
    
    
    <div class="inline-flex centered margin-top--4 margin-bottom--4">
        <img src="/red-hat-design-system-site/assets/button/button-grouping-2.png" alt="Button grouping primary" style="--example-img-max-width: 125px;">
      </div>
  </div>

</div>

<h3>Modal</h3>
<p>Buttons can be used in modals. The Link style can be used to the right of the Primary style to create greater visual hierarchy in between the two buttons.</p>

    
  <div class="example example--palette-light">
    
    
        <img src="/red-hat-design-system-site/assets/button/button-modal.png" alt="Button in modal" style="--example-img-max-width: 750px;">
  </div>

  </section>


<hr class="margin-top--2 margin-bottom--10">


  <section class="section section--palette-default container">
    <h2 class="section-title">Best practices</h2>
    <p>Don't write button text labels that are too expressive or ambiguous.</p>

  
  <div class="example example--palette-wrong">
    
    
  <div class="inline-flex centered margin-top--4 margin-bottom--4">
    <img src="/red-hat-design-system-site/assets/button/button-best-practices-1.png" alt="Button label problems" style="--example-img-max-width: 362px;">
  </div>
  </div>


  <p>Don't use multiple Primary styles in the same area, that style is reserved to represent the one most important action.</p>

  
  <div class="example example--palette-wrong">
    
    
  <div class="inline-flex centered margin-top--4 margin-bottom--4">
    <img src="/red-hat-design-system-site/assets/button/button-best-practices-2.png" alt="Multiple primary buttons issue" style="--example-img-max-width: 273px;">
  </div>
  </div>


  <p>Don’t use buttons to represent links. Use calls to action instead.</p>

  
  <div class="example example--palette-wrong">
    
    
  <div class="inline-flex centered margin-top--4 margin-bottom--4">
    <img src="/red-hat-design-system-site/assets/button/button-best-practices-3.png" alt="Buttons vs calls to action" style="--example-img-max-width: 557px;">
  </div>
  </div>

  </section>


<hr class="margin-top--10 margin-bottom--10">


  <section class="section section--palette-default container">
    <h2 class="section-title">Behavior</h2>
    <h3>Button vs. call to action</h3>
  <p>A button performs an action whereas a call to action directs users to another page or sometimes displays hidden content. For example, a call to action shouldn’t be used to submit a form and a button shouldn’t be used as a link.</p>

  <p>A button can sometimes direct users to other pages, like being directed to a confirmation page after a form is submitted, but that's the result of a triggered action happening in the background. Buttons and calls to action can be used in the same area as long as the styles are used properly and perform the right functions.</p>

  <h3>Responsive design</h3>
  <p>Buttons maintain the same scale on desktop and mobile. If they stack, the alignment changes to centered and the order of hierarchy changes to top to bottom. If a button contains a background or a border, the text label stays centered if it’s really long and if it breaks to two lines, which is rare.</p>
  </section>


<hr class="margin-top--10 margin-bottom--10">


  <section class="section section--palette-default container">
    <h2 class="section-title">Interaction states</h2>
    <p>All styles have interaction states except if some styles are disabled.</p>
  </section>


  <hr class="margin-top--10 margin-bottom--10">


  <section class="section section--palette-default container">
    <h2 class="section-title">Spacing</h2>
    <p>Buttons use <a href="https://www.patternfly.org/v4/design-guidelines/styles/spacers">PatternFly 4 spacers</a> to define spacing values between elements.</p>

  
  <div class="example example--palette-light">
    
    
    <div class="inline-flex centered margin-top--4 margin-bottom--4">
        <img src="/red-hat-design-system-site/assets/button/button-spacing.png" alt="button spacing" style="--example-img-max-width: 560px;">
    </div>
  </div>

  </section>


<hr class="margin-top--10 margin-bottom--10">

<div class="multi-column--min-300-wide">
  
  <section class="section section--palette-default container">
    <h2 class="section-title">Related components</h2>
    <ul>
      <li><a href="../cta">Call to action</a></li>
    </ul>
  </section>


  
  <section class="section section--palette-default container">
    <h2 class="section-title">Feedback</h2>
    <p>For feedback and bug reports, create an issue <a href="https://github.com/patternfly/patternfly-elements">in our GitHub repository</a>.</p>
  </section>

</div>

      </div>
    </div>
  </article>
  <footer class="main-footer">
    <img style="max-width: 135px;" src="https://static.redhat.com/libs/redhat/brand-assets/2/corp/logo--on-dark.svg" alt="Red Hat" />
</footer> 

<div class="back-to-top">
    <a href="#top" class="back-to-top-link">
        <img src="/red-hat-design-system-site/assets/back-to-top.svg" alt="Scroll back to the top">
    </a>
</div>
</main>


  </div>
</body>

</html>
