
<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Form | Red Hat Design System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177008280-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-177008280-1');
  </script>
  <script src="/red-hat-design-system-site/js/global.js"></script>

  <link rel="stylesheet" href="https://static.redhat.com/libs/redhat/redhat-theme/4/advanced-theme.css">
  <link rel="stylesheet" href="/red-hat-design-system-site/css/styles.css">
  <link rel="stylesheet" rel="stylesheet" href="//static.redhat.com/libs/redhat/redhat-font/2/webfonts/red-hat-font.css" media="all" />
  <link rel="stylesheet" href="https://static.redhat.com/libs/redhat/redhat-theme/4/advanced-theme.css">
  
  <link rel="stylesheet" href="/red-hat-design-system-site/node_modules/@patternfly/pfelement/dist/pfelement.min.css">
  <noscript>
    <link type="text/css" href="/red-hat-design-system-site/node_modules/@patternfly/pfelement/dist/pfelement--noscript.min.css">
  </noscript>

  <script type="module" src="/red-hat-design-system-site/node_modules/@patternfly/pfe-cta/dist/pfe-cta.min.js"></script>
</head>




  


<body class="page page--form" id="top" unresolved>
  <div class="body-inner">

    



<script type="text/javascript">
(function() { var s = document.createElement("script"); s.type = "text/javascript"; s.async = true; s.src = '//api.usersnap.com/load/4a8eca9f-e612-466c-ba21-5c98236daf99.js';
var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); })();
</script>

<header class="l-header">
  <div class="l-header__logo-bar">
    <img class="l-header__logo" src="https://static.redhat.com/libs/redhat/brand-assets/2/corp/logo--hat-only.svg" alt="Red Hat" style="max-width:50px" />
  </div>
  <input id="mobile-menu-toggle" class="menu-toggle element-invisible" type="checkbox" aria-controls="mobile-menu-menu-container">
  <label class="menu-toggle__button" for="mobile-menu-toggle" data-controls="mobile-menu-menu-container">
    Menu
    <span class="menu-toggle-assistive-text element-invisible">, Toggle visibility</span>
  </label>
  <div class="menu-toggle__toggleable">
    <nav class="l-header__site-navigation site-navigation menu-toggle__toggleable-content-wrapper">
      <ul class="site-navigation__wrapper">
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/red-hat-design-system-site/">
    Home
  </a>

        </li>
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/red-hat-design-system-site/about/">
    About this website
  </a>

        </li>
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/red-hat-design-system-site/design-code-status/">
    Design/code status
  </a>

        </li>
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/red-hat-design-system-site/release-notes/">
    Release notes
  </a>

        </li>
        <li class="site-navigation__item">
          
          
            
          
          <details  open>
            <summary class="site-navigation__heading">Components</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components">
    All components
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/accordion/">
    Accordion
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/alert/">
    Alert
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/announcement-banner/">
    Announcement banner
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/audio-player/">
    Audio player
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/blockquote/">
    Blockquote
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/button/">
    Button
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/cta/">
    Call to action
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/card/">
    Card
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/cookie-banner/">
    Cookie banner
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/avatar/">
    Default avatar
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/disclosure/">
    Disclosure
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/filter/">
    Filter
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/footer_group/">
    Footer group
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
    
  
  <a class="site-navigation__sub-menu__link site-navigation__sub-menu__link--active" href="/red-hat-design-system-site/components/form/">
    Form
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/jump-links-vertical/">
    Jump links
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/link-with-icon 2/">
    Link with icon
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/link-with-icon/">
    Link with icon
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/modal/">
    Modal
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/navigation/">
    Navigation
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/promo-banner/">
    Promo banner
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/search_bar/">
    Search bar
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/skip-to-main 2/">
    Skip to main
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/skip-to-main/">
    Skip to main
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/sticky-banner/">
    Sticky banner
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/sticky-card/">
    Sticky card
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/tabs/">
    Tabs
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/tooltip/">
    Tooltip
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/video-thumbnail/">
    Video thumbnail
  </a>

                </li></ul>
          </details>
        </li>

        <li class="site-navigation__item">
          
          
          <details >
            <summary class="site-navigation__heading">Foundations</summary>
            <ul class="site-navigation__sub-menu"><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/foundations/color/">
    Color
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/foundations/typography/">
    Typography
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/foundations/grid/">
    Grid
  </a>

                </li></ul>
          </details>
        </li>
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/red-hat-design-system-site/get-started/">
    Get started
  </a>

        </li>

      </ul>
    </nav>
  </div>
</header>


<main class="l-main">
  <article class="l-main__inner">
    <header class="l-main__header l-main__header--palette-lighter">
      <div class="container header">
        <h1 class="page-title">Form</h1>
      </div>
    </header>
    <div class="l-main__content">
      <div class="container">
        



  <section class="section section--palette-default container">
    <h2 class="section-title">Overview</h2>
    <p>A form is a group of elements that are used to collect information from users. It features a combination of text labels, fields, data inputs, and buttons.</p>
  </section>



  <section class="section section--palette-default container">
    <h2 class="section-title">Sample component</h2>
    <div class="multi-column--400-wide">
    <div>
      <img src="/red-hat-design-system-site/assets/form/form.svg" alt="Form" style="--inline-img-max-width: 360px;">
    </div>
    <div>
      <img src="/red-hat-design-system-site/assets/form/form2.svg" alt="Form" style="--inline-img-max-width: 360px;">
    </div>
  </div>
  </section>



  <section class="section section--palette-default container">
    <h2 class="section-title">Component status</h2>
    <rhds-component-status component="Form"></rhds-component-status>
  </section>





  
  <section class="section section--palette-default container">
    <h2 class="section-title">Style</h2>
    <p>There are a variety of elements that can be used in a form depending on the kind of information that needs to be collected from users.</p>

  
  <div class="example example--palette-light">
    
    
    <img src="/red-hat-design-system-site/assets/avatar/avatar-sample-light.png" alt="Examples of light avatar appearance">
  </div>


  <div class="multi-column--min-400-wide">
    <div>
        <h4>Text labels</h4>
        <p>Text labels tell a user what information they need to enter in each field or input.</p>
    </div>

    <div>
        <h4>Fields</h4>
        <p>Fields provide spaces for a user to enter text.</p>
    </div>

    <div>
        <h4>Data inputs</h4>
        <p>Data inputs provide additional ways for a user to submit information that isn’t text.</p>
    </div>

    <div>
        <h4>Buttons</h4>
        <p>Buttons enable a user to submit or exit a form.</p>
    </div>
  </div>
  </section>



<hr class="margin-top--10 margin-bottom--10">


  <section class="section section--palette-default container">
    <h2 class="section-title">Usage</h2>
    <p>Forms guide users through a task while gathering information from them.</p>

  <h3>Content</h3>
  <p>Form content is how you speak to users. They can submit forms faster if all elements are clearly labeled.</p>

  
  <div class="example example--palette-light">
    
    
    <img src="/red-hat-design-system-site/assets/avatar/avatar-sample-light.png" alt="Examples of light avatar appearance">
  </div>


    <div class="multi-column--min-400-wide">
      <div>
          <h4>Field text labels</h4>
          <p>A field text label can be used for critical information, like a user’s name or phone number.</p>
      </div>

      <div>
          <h4>Form field</h4>
          <p>Placeholder text can be used in a field as an example of required or recommended text.</p>
      </div>

      <div>
          <h4>Helper text</h4>
          <p>Helper text can be used to provide clarity about what exactly a user needs to input.</p>
      </div>

      <div>
          <h4>Tooltips</h4>
          <p>Tooltips can be used to provide additional context or helpful information.</p>
      </div>
    </div>

    <h3>Required fields</h3>

    <p>A required field features an asterisk (*) to the right of the field text label.</p>

    
  <div class="example example--palette-light">
    
    
      <img src="/red-hat-design-system-site/assets/avatar/avatar-sample-light.png" alt="Examples of light avatar appearance">
  </div>


    <p>If all fields are required, don’t use an asterisk above every field. Instead, put a message at the top of the form stating All fields are required. If all fields are optional, the message should state All fields are optional.</p>

    
  <div class="example example--palette-light">
    
    
      <img src="/red-hat-design-system-site/assets/avatar/avatar-sample-light.png" alt="Examples of light avatar appearance">
  </div>


    <h3>Data inputs</h3>

    <p>Data inputs provide additional ways for users to submit information that isn’t text. Each data input serves a different purpose and they can all be used in the same area.</p>

      <div class="multi-column--min-400-wide margin-top--6">
      <div>
        <img src="http://www.placehold.it/800x400"/>
          <h4>Radio button</h4>
          <p>Use to toggle only one option from a list of two or more options. If more than five options need to be used, use a Select list instead.</p>
      </div>

      <div>
          <img src="http://www.placehold.it/800x400"/>
          <h4>Checkbox</h4>
          <p>Use to select any number of options from a list. If more than five options need to be used, use a Select list instead.</p>
      </div>

      <div>
          <img src="http://www.placehold.it/800x400"/>
          <h4>Select list</h4>
          <p>Use to select one or more options from a dropdown.</p>
      </div>

      <div>
          <img src="http://www.placehold.it/800x400"/>
          <h4>Switch</h4>
          <p>Use to toggle between two different states.</p>
      </div>
    </div>

    <h3>Arranging data inputs</h3>
    <p>Radio buttons and checkboxes can be arranged horizontally or vertically depending on how much space there is.</p>
    <ul>
      <li>If maintaining vertical space is important and there are fewer than three options, arrange data inputs horizontally.</li>
      <li>If there are more than three options, arrange data inputs vertically.</li>
      <li>If there are no space constraints and the text labels are short enough, arrange data inputs in multiple columns, but only if there are three or more options.</li>
    </ul>

    <img src="http://www.placehold.it/800x400"/>

    <h3>Placement</h3>
    <p>A form can be used on different kinds of pages, but placed away from blocks of content if there’s enough space. The width of a form should reflect the amount of content that needs to be collected, but it should never exceed 750px to maintain optimal readability. For example, if a user is expected to submit lots of text, the form should be wider.</p>
  </section>


<hr class="margin-top--2 margin-bottom--10">


  <section class="section section--palette-default container">
    <h2 class="section-title">Best practices</h2>
    <p>Buttons should always be placed on the bottom left and be aligned to the left edge of fields. They should also be arranged by hierarchy from left to right.</p>

  
  <div class="example example--palette-wrong">
    
    
  <div class="inline-flex centered margin-top--1 margin-bottom--1">
    <img src="/red-hat-design-system-site/assets/avatar/avatar-wrong-without-text.png">
  </div>
  </div>


  <p>Don’t use multiple Primary buttons in a form.</p>

  
  <div class="example example--palette-wrong">
    
    
  <div class="inline-flex centered margin-top--1 margin-bottom--1">
    <img src="/red-hat-design-system-site/assets/avatar/avatar-wrong-without-text.png">
  </div>
  </div>


  <p>Don’t mix multi- and single-column fields and inputs in the same form.</p>

  
  <div class="example example--palette-wrong">
    
    
  <div class="inline-flex centered margin-top--1 margin-bottom--1">
    <img src="/red-hat-design-system-site/assets/avatar/avatar-wrong-without-text.png">
  </div>
  </div>

  </section>


<hr class="margin-top--10 margin-bottom--10">


  <section class="section section--palette-default container">
    <h2 class="section-title">Behavior</h2>
    <h3>States</h3>
  <p>It's important that error state messages explain to users how they can fix the errors beyond only stating that there are errors.</p>

  <div class="multi-column--min-400-wide">
    <div>
          <img src="http://www.placehold.it/800x400" />
          <p>Errors are displayed after an incomplete field or data input loses focus.</p>
      </div>

      <div>
          <img src="http://www.placehold.it/800x400" />
          <p>Errors are displayed when a user submits a form without correcting any errors first.</p>
      </div>
  </div>

  <h3>Responsive design</h3>
  <p>If a form is wide enough, field text labels can be placed to the left of fields. When a form scales down on smaller screens, field text labels move above fields and are aligned to the left edge.</p>

  
  <div class="example example--palette-light">
    
    
  <div class="multi-column--min-200-wide margin-top--1 margin-bottom--1">
    <img src="/red-hat-design-system-site/assets/avatar/avatar-responsive-2.png">
    <img src="/red-hat-design-system-site/assets/avatar/avatar-responsive-2.png">
  </div>
  </div>


  <h3>Responsive design</h3>
  <p>Content in a modular footer will move into an accordion on smaller screens whereas content in the global footer will stack.</p>
  </section>


<hr class="margin-top--10 margin-bottom--10">


  <section class="section section--palette-default container">
    <h2 class="section-title">Interaction states</h2>
    <p>All elements within a form have interaction states except if they’re disabled.</p>

  
  <div class="example example--palette-light">
    
    
    <div class="inline-flex centered margin-top--1 margin-bottom--1">
        <img src="/red-hat-design-system-site/assets/avatar/avatar-spacing-1.png">
        <img src="/red-hat-design-system-site/assets/avatar/avatar-spacing-1.png">
    </div>
  </div>

  </section>



<hr class="margin-top--10 margin-bottom--10">


  <section class="section section--palette-default container">
    <h2 class="section-title">Spacing</h2>
    <p>Forms and form elements use  <a href="https://www.patternfly.org/v4/design-guidelines/styles/spacers">PatternFly 4 spacers</a> to define spacing values between elements.</p>

  
  <div class="example example--palette-light">
    
    
    <div class="inline-flex centered margin-top--1 margin-bottom--1">
        <img src="/red-hat-design-system-site/assets/avatar/avatar-spacing-1.png">
    </div>
  </div>

  </section>


<hr class="margin-top--10 margin-bottom--10">

<div class="multi-column--min-300-wide">
  
  <section class="section section--palette-default container">
    <h2 class="section-title">Related components</h2>
    <ul>
      <li><a href="../button">Button</a></li>
    </ul>
  </section>


  
  <section class="section section--palette-default container">
    <h2 class="section-title">Feedback</h2>
    <p>For feedback and bug reports, create an issue <a href="https://github.com/patternfly/patternfly-elements">in our GitHub repository</a>.</p>
  </section>

</div>

      </div>
    </div>
  </article>
  <footer class="main-footer">
    <img style="max-width: 135px;" src="https://static.redhat.com/libs/redhat/brand-assets/2/corp/logo--on-dark.svg" alt="Red Hat" />
</footer> 

<div class="back-to-top">
    <a href="#top" class="back-to-top-link">
        <img src="/red-hat-design-system-site/assets/back-to-top.svg" alt="Scroll back to the top">
    </a>
</div>
</main>


  </div>
</body>

</html>
