
<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Announcement banner | Red Hat Design System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177008280-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-177008280-1');
  </script>
  <script src="/red-hat-design-system-site/js/global.js"></script>

  <link rel="stylesheet" href="https://static.redhat.com/libs/redhat/redhat-theme/4/advanced-theme.css">
  <link rel="stylesheet" href="/red-hat-design-system-site/css/styles.css">
  <link rel="stylesheet" rel="stylesheet" href="//static.redhat.com/libs/redhat/redhat-font/2/webfonts/red-hat-font.css" media="all" />
  <link rel="stylesheet" href="https://static.redhat.com/libs/redhat/redhat-theme/4/advanced-theme.css">
  
  <link rel="stylesheet" href="/red-hat-design-system-site/node_modules/@patternfly/pfelement/dist/pfelement.min.css">
  <noscript>
    <link type="text/css" href="/red-hat-design-system-site/node_modules/@patternfly/pfelement/dist/pfelement--noscript.min.css">
  </noscript>

  <script type="module" src="/red-hat-design-system-site/node_modules/@patternfly/pfe-cta/dist/pfe-cta.min.js"></script>
</head>




  


<body class="page page--announcement-banner" id="top" unresolved>
  <div class="body-inner">

    



<script type="text/javascript">
(function() { var s = document.createElement("script"); s.type = "text/javascript"; s.async = true; s.src = '//api.usersnap.com/load/4a8eca9f-e612-466c-ba21-5c98236daf99.js';
var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); })();
</script>

<header class="l-header">
  <div class="l-header__logo-bar">
    <img class="l-header__logo" src="https://static.redhat.com/libs/redhat/brand-assets/2/corp/logo--hat-only.svg" alt="Red Hat" style="max-width:50px" />
  </div>
  <input id="mobile-menu-toggle" class="menu-toggle element-invisible" type="checkbox" aria-controls="mobile-menu-menu-container">
  <label class="menu-toggle__button" for="mobile-menu-toggle" data-controls="mobile-menu-menu-container">
    Menu
    <span class="menu-toggle-assistive-text element-invisible">, Toggle visibility</span>
  </label>
  <div class="menu-toggle__toggleable">
    <nav class="l-header__site-navigation site-navigation menu-toggle__toggleable-content-wrapper">
      <ul class="site-navigation__wrapper">
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/red-hat-design-system-site/">
    Home
  </a>

        </li>
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/red-hat-design-system-site/about/">
    About this website
  </a>

        </li>
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/red-hat-design-system-site/design-code-status/">
    Design/code status
  </a>

        </li>
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/red-hat-design-system-site/release-notes/">
    Release notes
  </a>

        </li>
        <li class="site-navigation__item">
          
          
            
          
          <details  open>
            <summary class="site-navigation__heading">Components</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components">
    All components
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/accordion/">
    Accordion
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/alert/">
    Alert
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
    
  
  <a class="site-navigation__sub-menu__link site-navigation__sub-menu__link--active" href="/red-hat-design-system-site/components/announcement-banner/">
    Announcement banner
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/audio-player/">
    Audio player
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/blockquote/">
    Blockquote
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/button/">
    Button
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/cta/">
    Call to action
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/card/">
    Card
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/cookie-banner/">
    Cookie banner
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/avatar/">
    Default avatar
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/disclosure/">
    Disclosure
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/filter/">
    Filter
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/footer_group/">
    Footer group
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/form/">
    Form
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/jump-links-vertical/">
    Jump links
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/link-with-icon 2/">
    Link with icon
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/link-with-icon/">
    Link with icon
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/modal/">
    Modal
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/navigation/">
    Navigation
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/promo-banner/">
    Promo banner
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/search_bar/">
    Search bar
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/skip-to-main 2/">
    Skip to main
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/skip-to-main/">
    Skip to main
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/sticky-banner/">
    Sticky banner
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/sticky-card/">
    Sticky card
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/tabs/">
    Tabs
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/tooltip/">
    Tooltip
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/video-thumbnail/">
    Video thumbnail
  </a>

                </li></ul>
          </details>
        </li>

        <li class="site-navigation__item">
          
          
          <details >
            <summary class="site-navigation__heading">Foundations</summary>
            <ul class="site-navigation__sub-menu"><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/foundations/color/">
    Color
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/foundations/typography/">
    Typography
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/foundations/grid/">
    Grid
  </a>

                </li></ul>
          </details>
        </li>
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/red-hat-design-system-site/get-started/">
    Get started
  </a>

        </li>

      </ul>
    </nav>
  </div>
</header>


<main class="l-main">
  <article class="l-main__inner">
    <header class="l-main__header l-main__header--palette-lighter">
      <div class="container header">
        <h1 class="page-title">Announcement banner</h1>
      </div>
    </header>
    <div class="l-main__content">
      <div class="container">
        


  <section class="section section--palette-default container">
    <h2 class="section-title">Overview</h2>
    <p>An Announcement banner is a short banner that promotes an important message. It can be used across websites, depending on the relevance of the message and the target audience.</p>
  </section>



  <section class="section section--palette-default container">
    <h2 class="section-title">Sample component</h2>
    <div class= "margin-top--4 margin-bottom--8">
  <img src="/red-hat-design-system-site/assets/announcement/announcement-sample-1@2x.png" alt="Example of an announcement banner">
</div>
  </section>



  <section class="section section--palette-default container">
    <h2 class="section-title">Component status</h2>
    <rhds-component-status component="Announcement banner"></rhds-component-status>
  </section>



  <section class="section section--palette-default container">
    <h2 class="section-title">Style</h2>
    <p>An announcement banner can be used in light, dark, and saturated themes. It can feature elements like text, a button, a call to action, icons, imagery, or a background container.</p>

  
  <div class="example example--palette-light">
    
    
    <div class="centered margin-top--4 margin-bottom--4">
      <img src="/red-hat-design-system-site/assets/announcement/announcement-style-1@2x.png" alt="Anatomy of an announcement banner" style="--inline-img-max-width: 872px;">
    </div>
  </div>

  </section>


<hr class="margin-top--10 margin-bottom--10">


  <section class="section section--palette-default container">
    <h2 class="section-title">Theme</h2>
    
  <div class="example example--palette-light">
    
    
    <div class="margin-top--4 margin-bottom--4">
      <img src="/red-hat-design-system-site/assets/announcement/announcement-theme-1@2x.png" alt="Announcement banner on light theme" style="--inline-img-max-width: 872px;">
    </div>
  </div>


  
  <div class="example example--palette-light">
    
    
    <div class="margin-top--4 margin-bottom--4">
      <img src="/red-hat-design-system-site/assets/announcement/announcement-theme-2@2x.png" alt="Announcement banner on dark theme" style="--inline-img-max-width: 872px;">
    </div>
  </div>

  </section>


<hr class="margin-top--10 margin-bottom--10">


  <section class="section section--palette-default container">
    <h2 class="section-title">Usage</h2>
    <p>An announcement banner can promote a popular event or advertise an important organizational or product announcement.</p>

  <h3>Grid</h3>
  <p>An announcement banner doesn’t fall within the grid. It spans the entire width of a browser window on all screens whereas the content of the banner itself should fall within the standard grid.<p>

  <div class="margin-top--4 margin-bottom--4">
    <img src="/red-hat-design-system-site/assets/announcement/announcement-usage-1@2x.png" alt="Announcement banner spanning entire width of browser window">
  </div>

  <h3>Layout</h3>
  <p>An announcement banner should be positioned above the navigation so it becomes the highest layout in hierarchy. It can also be used across different pages to better attract attention from visitors who might be coming from different places.<p>
    <div class="margin-top--4 margin-bottom--4">
      <img src="/red-hat-design-system-site/assets/announcement/announcement-usage-2@2x.png" alt="Announcement banner positioned above the main menu on Redhat.com">
    </div>

  <h3>Content</h3>
  <p>Any content within an announcement banner can either be center-aligned or aligned to the left and right sides, depending on the amount of content and what its objective is.</p>
  <div class="margin-top--4 margin-bottom--4">
    <img src="/red-hat-design-system-site/assets/announcement/announcement-usage-3@2x.png" alt="One announcement banner showing center-aligned content and one showing left and right-aligned content">
  </div>
  </section>


<hr class="margin-top--2 margin-bottom--10">


  <section class="section section--palette-default container">
    <h2 class="section-title">Best practices</h2>
    <p>Don't position the announcement banner below the navigation.</p>

  
  <div class="example example--palette-wrong">
    
    
    <div class="margin-top--4 margin-bottom--4">
      <img src="/red-hat-design-system-site/assets/announcement/announcement-bestpractice-1@2x.png" alt="Example of an announcement banner below the primary navigation" style="--inline-img-max-width: 872px;">
    </div>
  </div>

  </section>


<hr class="margin-top--10 margin-bottom--10">


  <section class="section section--palette-default container">
    <h2 class="section-title">Behavior</h2>
    <h3>Persistence</h3>
  <p>An announcement banner is usually persistent where it follows a user down the page as they scroll, similar to the navigation.</p>
  </section>


<hr class="margin-top--10 margin-bottom--10">


  <section class="section section--palette-default container">
    <h2 class="section-title">Responsive design</h2>
    <h3>Breakpoints</h3>
  <p>An announcement banner works well across both large and small screens. The elements inside will stack in one column and become vertically-aligned on small screens.</p>

  <h3>Desktop</h3>
  <div class="margin-top--4 margin-bottom--4">
    <img src="/red-hat-design-system-site/assets/announcement/announcement-responsive-1@2x.png" alt="Example of an announcement banner on desktop">
  </div>

  <h3>Tablet</h3>
  <div class="margin-top--4 margin-bottom--4">
    <img src="/red-hat-design-system-site/assets/announcement/announcement-responsive-2@2x.png" alt="Example of an announcement banner on tablet" style="--inline-img-max-width: 768px;">
  </div>

  <h3>Mobile</h3>
  <div class="margin-top--4 margin-bottom--4">
    <img src="/red-hat-design-system-site/assets/announcement/announcement-responsive-3@2x.png" alt="Example of an announcement banner on mobile" style="--inline-img-max-width: 360px;">
  </div>

  <p class="footnote">Some text styles reduce in size on small screens. Learn more about <a href="../../foundations/typography">typography</a> on mobile.</p>
  </section>


<hr class="margin-top--10 margin-bottom--10">


  <section class="section section--palette-default container">
    <h2 class="section-title">Interaction states</h2>
    <p>
    Since announcement banners can consist of a variety of elements, refer to the specific interaction states that are assigned to each style and component for more information.
  </p>
  </section>


<hr class="margin-top--10 margin-bottom--9">


  <section class="section section--palette-default container">
    <h2 class="section-title">Spacing</h2>
    <p>The announcement banner uses <a href="https://www.patternfly.org/v4/design-guidelines/styles/spacers">PatternFly 4 spacers</a> to define spacing values between elements.</p>


  <div class="margin-top--4 margin-bottom--4">
    <img src="/red-hat-design-system-site/assets/announcement/announcement-spacing-1@2x.png" alt="Example of an announcement banner with spacers">
  </div>
  </section>


<hr class="margin-top--9 margin-bottom--6">

<div class="multi-column--min-300-wide">
  
  <section class="section section--palette-default container">
    <h2 class="section-title">Related components</h2>
    <ul>
    <!-- future state <li><a href="../cookie-banner">Cookie banner</a></li> -->
    <!-- future state <li><a href="#">Logo banner</a></li> -->
    <li><a href="../sticky-banner">Sticky banner</a></li>
    <li><a href="../promo-banner">Promo banner</a></li>
  </ul>
  </section>


  
  <section class="section section--palette-default container">
    <h2 class="section-title">Feedback</h2>
    <p>For feedback and bug reports, create an issue <a href="https://github.com/patternfly/patternfly-elements">in our GitHub repository</a>.</p>
  </section>

</div>

      </div>
    </div>
  </article>
  <footer class="main-footer">
    <img style="max-width: 135px;" src="https://static.redhat.com/libs/redhat/brand-assets/2/corp/logo--on-dark.svg" alt="Red Hat" />
</footer> 

<div class="back-to-top">
    <a href="#top" class="back-to-top-link">
        <img src="/red-hat-design-system-site/assets/back-to-top.svg" alt="Scroll back to the top">
    </a>
</div>
</main>


  </div>
</body>

</html>
