
<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Video thumbnail | Red Hat Design System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177008280-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-177008280-1');
  </script>
  <script src="/red-hat-design-system-site/js/global.js"></script>

  <link rel="stylesheet" href="https://static.redhat.com/libs/redhat/redhat-theme/4/advanced-theme.css">
  <link rel="stylesheet" href="/red-hat-design-system-site/css/styles.css">
  <link rel="stylesheet" rel="stylesheet" href="//static.redhat.com/libs/redhat/redhat-font/2/webfonts/red-hat-font.css" media="all" />
  <link rel="stylesheet" href="https://static.redhat.com/libs/redhat/redhat-theme/4/advanced-theme.css">
  
  <link rel="stylesheet" href="/red-hat-design-system-site/node_modules/@patternfly/pfelement/dist/pfelement.min.css">
  <noscript>
    <link type="text/css" href="/red-hat-design-system-site/node_modules/@patternfly/pfelement/dist/pfelement--noscript.min.css">
  </noscript>

  <script type="module" src="/red-hat-design-system-site/node_modules/@patternfly/pfe-cta/dist/pfe-cta.min.js"></script>
</head>




  


<body class="page page--video-thumbnail" id="top" unresolved>
  <div class="body-inner">

    



<script type="text/javascript">
(function() { var s = document.createElement("script"); s.type = "text/javascript"; s.async = true; s.src = '//api.usersnap.com/load/4a8eca9f-e612-466c-ba21-5c98236daf99.js';
var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); })();
</script>

<header class="l-header">
  <div class="l-header__logo-bar">
    <img class="l-header__logo" src="https://static.redhat.com/libs/redhat/brand-assets/2/corp/logo--hat-only.svg" alt="Red Hat" style="max-width:50px" />
  </div>
  <input id="mobile-menu-toggle" class="menu-toggle element-invisible" type="checkbox" aria-controls="mobile-menu-menu-container">
  <label class="menu-toggle__button" for="mobile-menu-toggle" data-controls="mobile-menu-menu-container">
    Menu
    <span class="menu-toggle-assistive-text element-invisible">, Toggle visibility</span>
  </label>
  <div class="menu-toggle__toggleable">
    <nav class="l-header__site-navigation site-navigation menu-toggle__toggleable-content-wrapper">
      <ul class="site-navigation__wrapper">
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/red-hat-design-system-site/">
    Home
  </a>

        </li>
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/red-hat-design-system-site/about/">
    About this website
  </a>

        </li>
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/red-hat-design-system-site/design-code-status/">
    Design/code status
  </a>

        </li>
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/red-hat-design-system-site/release-notes/">
    Release notes
  </a>

        </li>
        <li class="site-navigation__item">
          
          
            
          
          <details  open>
            <summary class="site-navigation__heading">Components</summary>
            <ul class="site-navigation__sub-menu">
              <li class="site-navigation__sub-menu__item">
                
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components">
    All components
  </a>

              </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/accordion/">
    Accordion
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/alert/">
    Alert
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/announcement-banner/">
    Announcement banner
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/audio-player/">
    Audio player
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/blockquote/">
    Blockquote
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/button/">
    Button
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/cta/">
    Call to action
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/card/">
    Card
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/cookie-banner/">
    Cookie banner
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/avatar/">
    Default avatar
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/disclosure/">
    Disclosure
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/filter/">
    Filter
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/footer_group/">
    Footer group
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/form/">
    Form
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/jump-links-vertical/">
    Jump links
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/link-with-icon 2/">
    Link with icon
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/link-with-icon/">
    Link with icon
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/modal/">
    Modal
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/navigation/">
    Navigation
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/promo-banner/">
    Promo banner
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/search_bar/">
    Search bar
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/skip-to-main 2/">
    Skip to main
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/skip-to-main/">
    Skip to main
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/sticky-banner/">
    Sticky banner
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/sticky-card/">
    Sticky card
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/tabs/">
    Tabs
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/components/tooltip/">
    Tooltip
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
    
  
  <a class="site-navigation__sub-menu__link site-navigation__sub-menu__link--active" href="/red-hat-design-system-site/components/video-thumbnail/">
    Video thumbnail
  </a>

                </li></ul>
          </details>
        </li>

        <li class="site-navigation__item">
          
          
          <details >
            <summary class="site-navigation__heading">Foundations</summary>
            <ul class="site-navigation__sub-menu"><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/foundations/color/">
    Color
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/foundations/typography/">
    Typography
  </a>

                </li><li class="site-navigation__sub-menu__item">
                  
  
  
  <a class="site-navigation__sub-menu__link" href="/red-hat-design-system-site/foundations/grid/">
    Grid
  </a>

                </li></ul>
          </details>
        </li>
        <li class="site-navigation__item">
          
  
  
  <a class="site-navigation__link" href="/red-hat-design-system-site/get-started/">
    Get started
  </a>

        </li>

      </ul>
    </nav>
  </div>
</header>


<main class="l-main">
  <article class="l-main__inner">
    <header class="l-main__header l-main__header--palette-lighter">
      <div class="container header">
        <h1 class="page-title">Video thumbnail</h1>
      </div>
    </header>
    <div class="l-main__content">
      <div class="container">
        



  <section class="section section--palette-default container">
    <h2 class="section-title">Overview</h2>
    <p>A Video thumbnail is a graphical preview of a video overlayed with a play button. When it’s selected, a video player modal will be displayed so a user can watch the video at a larger size.</p>
  </section>



  <section class="section section--palette-default container">
    <h2 class="section-title">Sample component</h2>
    <img src="/red-hat-design-system-site/assets/video-thumbnail/video-thumbnail.svg" alt="Video thumbnail" style="--inline-img-max-width: 555px;">
  </section>



  <section class="section section--palette-default container">
    <h2 class="section-title">Component status</h2>
    <rhds-component-status component="Video with thumbnail"></rhds-component-status>
  </section>




  <section class="section section--palette-default container">
    <h2 class="section-title">Style</h2>
    <p>A video thumbnail is a combination of a graphic with a slightly transparent play button on top. A video thumbnail can also include an optional caption underneath that explains what the video is.</p>

  
  <div class="example example--palette-light">
    
    
  <div class="inline-flex margin-top--4 margin-bottom--4">
    <img src="/red-hat-design-system-site/assets/video-thumbnail/video-thumbnail-style.svg" alt="Video thumbnail specs" style="--inline-img-max-width: 625px;">
  </div>
  </div>

  </section>




  <section class="section section--palette-default container">
    <h2 class="section-title">Theme</h2>
    
  <div class="example example--palette-light">
    
    
    <div class="inline-flex margin-top--4 margin-bottom--4">
      <img src="/red-hat-design-system-site/assets/video-thumbnail/video-thumbnail-theme-light.svg" alt="Video thumbnail light theme" style="--inline-img-max-width: 555px;">
    </div>
  </div>


  
  <div class="example example--palette-darkest">
    
    
    <div class="inline-flex margin-top--4 margin-bottom--4">
      <img src="/red-hat-design-system-site/assets/video-thumbnail/video-thumbnail-theme-dark.svg" alt="Video thumbnail dark theme" style="--inline-img-max-width: 555px;">
    </div>
  </div>


<h3>Button</h3>
<p>A video thumbnail can include either a light or a dark play button, depending on the image underneath. If an image is lighter, use a dark play button for accessibility and vice versa.</p>

<div class="multi-column--min-300-wide">
  
  <div class="example example--palette-light">
    
    
    <div class="inline-flex margin-top--4 margin-bottom--4">
      <img src="/red-hat-design-system-site/assets/video-thumbnail/video-button-light.svg" alt="Play button on light theme" style="--inline-img-max-width: 172px;">
    </div>
  </div>

  
  <div class="example example--palette-darkest">
    
    
    <div class="multi-column--min-300-wide margin-top--4 margin-bottom--4">
      <img src="/red-hat-design-system-site/assets/video-thumbnail/video-button-dark.svg" alt="Play button on dark theme" style="--inline-img-max-width: 172px;">
    </div>
  </div>

</div>
  </section>


<hr class="margin-top--10 margin-bottom--10">


  <section class="section section--palette-default container">
    <h2 class="section-title">Usage</h2>
    <p>A video thumbnail can be used to indicate that a video can be played and using a caption underneath isn’t required.</p>

  <h3>Layouts</h3>

  <p>A video thumbnail can be used in most layouts that have enough space to accommodate a small image with a play button on top. A video thumbnail used in a card is a good example of a minimum size.</p>

  
  <div class="example example--palette-light">
    
    
    <div class="inline-flex margin-top--4 margin-bottom--4">
      <img src="/red-hat-design-system-site/assets/video-thumbnail/video-thumbnail-layout-specs.svg" alt="Specs of video button thumbnail" style="--inline-img-max-width: 469px;">
    </div>
  </div>


  <h3>Caption</h3>

  <p>An optional descriptor caption can be placed underneath the video thumbnail, it’s left-aligned on large screens or center-aligned on small screens.</p>
  </section>


<hr class="margin-top--2 margin-bottom--10">


  <section class="section section--palette-default container">
    <h2 class="section-title">Best practices</h2>
    <p>Don't reposition the play button.</p>

  
  <div class="example example--palette-wrong">
    
    
    <div class="inline-flex centered margin-top--4 margin-bottom--4">
      <img src="/red-hat-design-system-site/assets/video-thumbnail/video-thumbnail-best-practices-1.png" alt="Don't reposition play button" style="--example-img-max-width: 555px;">
    </div>
  </div>


  <p>Don't change the aspect ratio of a video thumbnail.</p>

  
  <div class="example example--palette-wrong">
    
    
    <div class="inline-flex centered margin-top--4 margin-bottom--4">
      <img src="/red-hat-design-system-site/assets/video-thumbnail/video-thumbnail-best-practices-2.png" alt="Don't change aspect ratio" style="--example-img-max-width: 555px;">
    </div>
  </div>

  </section>


<hr class="margin-top--10 margin-bottom--10">


  <section class="section section--palette-default container">
    <h2 class="section-title">Behavior</h2>
    <h3>Modal</h3>
  <p>Selecting the play button triggers a <a href="../modal">Video player modal</a> where a larger version of the video will play on top of a background overlay. Giving users the ability to view videos at a larger size creates a better and more accessible experience.</p>
  </section>


<hr class="margin-top--10 margin-bottom--10">


  <section class="section section--palette-default container">
    <h2 class="section-title">Responsive design</h2>
    <p>A video thumbnail changes size, but it should maintain its aspect ratio across all screen sizes. The caption also maintains the same text size, but changes alignment to match the video thumbnail.</p>

  <h3>Desktop, centered</h3>

    <div class="inline-flex centered margin-top--4 margin-bottom--4">
      <img src="/red-hat-design-system-site/assets/video-thumbnail/video-thumbnail-responsive-desktop.svg" alt="Video thumbnail centered">
    </div>

  <p class="footnote margin-top--4">When centered, the video thumbnail and caption should span six grid columns.</p>

  <div class="inline-flex centered margin-top--4 margin-bottom--4">
      <img src="/red-hat-design-system-site/assets/video-thumbnail/video-thumbnail-responsive-desktop-sides.svg" alt="Video thumbnail sides">
    </div>

  <p class="footnote margin-top--4">When aligned on the left or right edge of the grid, the video thumbnail and caption should span five grid columns.</p>

  <h3>Mobile</h3>

    <div class="margin-top--4 margin-bottom--4">
      <img src="/red-hat-design-system-site/assets/video-thumbnail/video-thumbnail-responsive-mobile.svg" alt="Video thumbnail on mobile" style="--inline-img-max-width: 360px;">
    </div>
  </section>


<hr class="margin-top--10 margin-bottom--10">


  <section class="section section--palette-default container">
    <h2 class="section-title">Interaction states</h2>
    <p>The only interactive element in a video thumbnail is the play button. For more information about modal interaction states, see <a href="../modal">Video player modal</a>.</p>

<h3>Default</h3>


  <div class="example example--palette-light">
    
    
      <div class="inline-flex margin-top--4 margin-bottom--4">
        <img src="/red-hat-design-system-site/assets/video-thumbnail/video-thumbnail-interaction-default.svg" alt="Video thumbnail default state" style="--inline-img-max-width: 555px;">
      </div>
  </div>


<h3>Focus</h3>


  <div class="example example--palette-light">
    
    
      <div class="inline-flex margin-top--4 margin-bottom--4">
        <img src="/red-hat-design-system-site/assets/video-thumbnail/video-thumbnail-interaction-focus.svg" alt="Video thumbnail focus state" style="--inline-img-max-width: 555px;">
      </div>
  </div>


<h3>Hover</h3>

    
  <div class="example example--palette-light">
    
    
      <div class="inline-flex margin-top--4 margin-bottom--4">
        <img src="/red-hat-design-system-site/assets/video-thumbnail/video-thumbnail-interaction-hover.svg" alt="Video thumbnail hover state" style="--inline-img-max-width: 555px;">
      </div>
  </div>


<h3>Active</h3>

    
  <div class="example example--palette-light">
    
    
      <div class="inline-flex margin-top--4 margin-bottom--4">
        <img src="/red-hat-design-system-site/assets/video-thumbnail/video-thumbnail-interaction-active.svg" alt="Video thumbnail active state" style="--inline-img-max-width: 555px;">
      </div>
  </div>


<div class="multi-column--min-300-wide">

  <div>
  
  <div class="example example--palette-light">
    
    
      <div class="inline-flex margin-top--4 margin-bottom--4">
        <img src="/red-hat-design-system-site/assets/video-thumbnail/video-button-hover-state-dark.svg" alt="Video thumbnail hover state light" style="--inline-img-max-width: 117px;">
      </div>
  </div>

    <p class="footnote">The dark play button background becomes 25% darker on hover.</p>
  </div>

  <div>
  
  <div class="example example--palette-darkest">
    
    
      <div class="inline-flex margin-top--4 margin-bottom--4">
        <img src="/red-hat-design-system-site/assets/video-thumbnail/video-button-hover-state-light.svg" alt="Video thumbnail hover state dark" style="--inline-img-max-width: 117px;">
      </div>
  </div>

  <p class="footnote">The light play button background becomes 25% lighter on hover.</p>
  </div>

</div>
  </section>


<hr class="margin-top--10 margin-bottom--10">


  <section class="section section--palette-default container">
    <h2 class="section-title">Spacing</h2>
    <p>A video thumbnail uses <a href="https://www.patternfly.org/v4/design-guidelines/styles/spacers">PatternFly 4 spacers</a> to define the spacing value between the thumbnail and the caption underneath.
</p>

  
  <div class="example example--palette-light">
    
    
    <div class="centered margin-top--4 margin-bottom--4">
      <img src="/red-hat-design-system-site/assets/video-thumbnail/video-thumbnail-spacing.svg" alt="Video thumbnail spacing specs" style="--inline-img-max-width: 555px;">
    </div>
  </div>

  </section>


<hr class="margin-top--10 margin-bottom--10">

<div class="multi-column--min-300-wide">
  
  <section class="section section--palette-default container">
    <h2 class="section-title">Related components</h2>
    <section class="related">
      <ul>
        <li><a href="../card">Card</a></li>
        <li><a href="../modal">Modal</a></li>
      </ul>
    </section>
  </section>


  
  <section class="section section--palette-default container">
    <h2 class="section-title">Feedback</h2>
    <p>For feedback and bug reports, create an issue <a href="https://github.com/patternfly/patternfly-elements">in our GitHub repository</a>.</p>
  </section>

</div>

      </div>
    </div>
  </article>
  <footer class="main-footer">
    <img style="max-width: 135px;" src="https://static.redhat.com/libs/redhat/brand-assets/2/corp/logo--on-dark.svg" alt="Red Hat" />
</footer> 

<div class="back-to-top">
    <a href="#top" class="back-to-top-link">
        <img src="/red-hat-design-system-site/assets/back-to-top.svg" alt="Scroll back to the top">
    </a>
</div>
</main>


  </div>
</body>

</html>
